/* #root {
  color: black;
} */

body {
  background-color: #f2d0e2;
}
body.nav {
  display: flex;
  flex-direction: row;
  height: 15vh;
  width: max-content;
}

section {
  display: flex;
  background-color: #f2d0e2;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 15px;
  border-radius: 1vh;
}

div {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  display: flex;
  background-color: #fffafe;
  color: black;
  flex-direction: row;
  width: auto;
  height: 100px;
  text-align: center;
  border-style: groove;
  border-radius: 1vh;
  padding-left: 1vh;
}

.summary {
  display: flex;
  flex-direction: row;
  padding-bottom: 25vh;
}

article {
  display: flex;
  color: black;
  flex-direction: column;
  width: 30vw;
  height: 60vh;
  border-style: hidden;
  background-color: white;
  padding-bottom: 9%;
  border-radius: 1vh;
}

img {
  display: flex;
  height: 250px;
  width: 100%;
  align-items: center;
}

.hidden {
  display: none;
}
